*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    width: 100%;
}

body{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}


.about_container{
    background-image: linear-gradient(to bottom right, #eeaecac6,#94bce9cb),url("assets/About.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
}

.heading {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 0 0.75rem;
    margin: 0 0 1.5rem;
    color: #e6dae6;
    transition: all 0.4s;
    text-shadow: 15px 10px 4px #c163b2;
}

.background_wrapper {
    background-color: white;
    margin: 1rem 4rem;
    margin-bottom: 0;
    padding: 2rem 4rem;
    opacity: 65%;
    letter-spacing: 1.5px;
    font-size: 1.25rem;
}

.myinfo{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: bolder;
    padding-bottom: 25px;
}

.otherinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 25px;
    border: 2px solid rgba(193, 99, 178, 0.5);
    width: 30rem;
    border-radius: 1rem;
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    color: #c163b2;
    transition: all 0.4s;
}

.btn:focus{
    border-color: #f20aa8ae;
    outline: none;
}


input[type="submit"] {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    border: 2px solid rgba(193, 99, 178, 0.5);
    width: 10rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    color: #c163b2;
    transition: all 0.4s;
}

input[type="submit"]:hover {
    background-color: #c163b2;
    color: whitesmoke;
}