*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body, html {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Caveat', cursive;
}


.about_container{
    /* background: url("assets/About.jpeg"); */
    background-image: linear-gradient(to bottom right, #eeaecac6,#94bce9cb),url("assets/About.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.heading {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-align: center;
    padding: 0 0.75rem;
    margin: 0 0 1.5rem;
    color: #e6dae6;
    transition: all 0.4s;
    text-shadow: 15px 10px 4px #c163b2;
}

.about_content {
    background-color: white;
    margin: 1rem 4rem;
    padding: 2rem 4rem;
    opacity: 65%;
    letter-spacing: 1.5px;
    font-size: 1.25rem;
}