*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body, html {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Caveat', cursive;
}


.about_container{
    background-image: linear-gradient(to bottom right, #eeaeca,#94bbe9); 
    height: 100%;
    width: 100%;
}

.heading {
    font-size: 5rem;
    text-align: center;
    padding: 0 0.75rem;
    margin: 0 0 1.5rem;
    color: #e6dae6;
    transition: all 0.4s;
    text-shadow: 15px 10px 4px #c163b2;
}

/* .heading::after {
    content: "About Me";
    color: #c163b2;
    transform: translate(1rem, 1rem) ;
    
} */