@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Caveat', cursive;
}
.navbar{
    /* background-color: #867070; */
    width: 100%;
    height: 15%;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin-top: 1.5rem;
}

.navbar nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar nav li{
    list-style: none;
    font-size: 15px;
    padding: 0.75rem;
    margin: 0 1.5rem;
    border-radius: 50%;
    border: 2px solid rgba(193, 99, 178, 0.5);
    color: #c163b2;
    transition: all 0.4s;
}

.navbar nav li:hover{
    background-color: #c163b2;
    color: whitesmoke;
}

.navbar nav li a{
    text-decoration: none;
    color: inherit;
}


.header-content{
    display: flex;
    height: 85%;
    padding: 0.5rem 1rem;
    gap: 10rem;
}

.left-header .image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.left-header .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.name{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

.name span{
    color: #c163b2;
}

.right-header p{
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
}

.btn-con{
    margin-top: 30px;
    border: 2px solid rgba(193, 99, 178, 0.5);
    width: 10rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    color: #c163b2;
    transition: all 0.4s;
}

.btn-con:hover{
    background-color: #c163b2;
    color: whitesmoke;
}
.main-btn{
    display: flex;
    justify-content: space-evenly;
    /* gap: 1rem; */
    width: 100%;
    text-decoration: none;
    font-size: 1.25rem;
    color: inherit;
}

.btn-text {
    text-decoration: none;
}

.heading{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 1rem 0rem;
    font-weight: bolder;
}

