@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: aquamarine;
    width: 16vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 15px;
    padding: 33px 0px;
}

.main{
    background-color: aqua;
    width: 84vw;
    font-size: 10px;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: antiquewhite;
    margin: 140px auto;
    width: 40vw;
    height: 70vh;
}

.profilePic{
    height: 100%;
    width: 100%;
}

.devPic {
    height: 300px;
    width: 300px;
}